.module-sizes.input-group.pull-right input {
  width: 30%; }

.module-sizes.input-group.pull-right span {
  width: 5%;
  float: left;
  text-align: center;
  line-height: 34px; }

.small-table td {
  padding: 2px 15px;
  border: 1px solid rgba(128, 128, 128, 0.31);
  text-align: right; }

.renderer-container {
  margin-bottom: 15px; }

.block-header span {
  font-size: 20px;
  font-weight: bold; }
