@import "http://webfonts.ru/import/arnamu.css";
body, div, h1, h2, h3, ul,p{
    margin: 0;
    padding: 0;
}
body{
    /*background: url('/images/index.jpg') center top no-repeat;*/
    /*opacity: 0.8;*/
}
img{
    border:0;
}

/* font-family: "ArianAMURegular"; */
@font-face {
    font-family: "ArianAMURegular";
    src: url("../fonts/ArianAMURegular/ArianAMURegular.eot");
    src: url("../fonts/ArianAMURegular/ArianAMURegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArianAMURegular/ArianAMURegular.woff") format("woff"),
    url("../fonts/ArianAMURegular/ArianAMURegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ArianAMUBold"; */
@font-face {
    font-family: "ArianAMUBold";
    src: url("../fonts/ArianAMUBold/ArianAMUBold.eot");
    src: url("../fonts/ArianAMUBold/ArianAMUBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArianAMUBold/ArianAMUBold.woff") format("woff"),
    url("../fonts/ArianAMUBold/ArianAMUBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ArianAMUItalic"; */
@font-face {
    font-family: "ArianAMUItalic";
    src: url("../fonts/ArianAMUItalic/ArianAMUItalic.eot");
    src: url("../fonts/ArianAMUItalic/ArianAMUItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArianAMUItalic/ArianAMUItalic.woff") format("woff"),
    url("../fonts/ArianAMUItalic/ArianAMUItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ArianAMUBoldItalic"; */
@font-face {
    font-family: "ArianAMUBoldItalic";
    src: url("../fonts/ArianAMUBoldItalic/ArianAMUBoldItalic.eot");
    src: url("../fonts/ArianAMUBoldItalic/ArianAMUBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArianAMUBoldItalic/ArianAMUBoldItalic.woff") format("woff"),
    url("../fonts/ArianAMUBoldItalic/ArianAMUBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


.wrapper{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.wrapper-top{
    border-bottom: 2px solid #0287ce;
}
header{
    background: url('/images/design/bg-head.jpg') no-repeat;
    width: 1000px;
    height: 158px;
    position: relative;
    margin: 0 auto;
}
.logo{
    width: 195px;
    height: 150px;
    display: block;
    float: left;
}
header ul{
    width: 732px;
    position: absolute;
    bottom: 12px;
    right: 0;
}
header ul li{
    display: inline;
    padding: 0 0 0 55px;
}
header ul li a{
    font: 20px 'arian_amuregular';
    color: #646464;
    text-decoration: none;
}
.left{
    width: 220px;
    float: left;
    margin: 35px 0 0 0;
}
.main{
    float: left;
    width: 740px;
    margin: 35px 0 0 40px;
}
.h-blue{
    color: #0287ce;
    font: 24px 'arian_amuregular';
    text-decoration: none;
    padding: 0 0 12px 0;
    display: block;
}
.cat-file{
    border: 1px solid #d0d0d0;
}
.padding30{
    padding-top: 30px;
}
.main h1{
    color: #0287ce;
    font: 24px 'arian_amuregular';
    text-decoration: none;
    padding: 0 0 12px 0;
    display: block;
}
.pages-full-content{
    font: 15px 'arian_amuregular';
    color: #6e6e6e;
    width: 485px;
    float: left;
    text-align: justify;

}
.pages-full-content p{
    margin: 0 0 10px 0;
}
.width100{
    width: 100%;
}
.footer-wrap{
    border-top: 2px solid #0287ce;
}
footer{
    width: 1000px;
    margin: 0 auto;
}
.item-logo{
    float: left;
    width: 193px;
    text-align: center;
    height: 50px;
    display:table-cell;
    vertical-align:middle;
 }

.logo-partner{
    margin: 20px 0 0 30px;
    display:table;
}
.line-item{
    background: url('/images/design/logo-line.jpg') right 7px no-repeat;

}
.line-item a{
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 190px;
}
.no-htr{
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 190px;
    cursor: default;
}

footer span{
    display: block;
    font: 10px 'arian_amuregular';
    color: #6e6e6e;
    margin: 35px 0 0 0;
    width: 500px;
    float: left;
}
footer span a{
    font: 10px 'arian_amuregular';
    color: #6e6e6e;
    text-decoration: none;
}
.soc a{
    padding: 0 5px 0 0;
}
.soc{
    float: right;
    margin: 20px 0;
}
.current{
    color:#0287ce;
}
.left-pge{
    width: 218px;
    border-left: 2px solid #0287ce;
    background: #f2f2f2;
    height: 300px;
}
.left-pge ul li{
    list-style-type: none;
}
.left-pge ul{
    padding: 30px 0 0 0;
}
.left-pge ul li a:link{
    display: block;
    height: 26px;
    line-height: 30px;
    font: 18px 'arian_amuregular';
    color: #646464;
    text-decoration: none;
    padding: 4px 0 0 18px;
}
.left-pge ul li a:visited{
    display: block;
    height: 26px;
    line-height: 30px;
    font: 18px 'arian_amuregular';
    color: #646464;
    text-decoration: none;
    padding: 4px 0 0 18px;
}
.left-pge ul li a:hover{
    display: block;
    height: 26px;
    line-height: 30px;
    font: 18px 'arian_amuregular';
    color: #646464;
    text-decoration: none;
    padding: 4px 0 0 18px;
    background: #d9d9d9 url('/images/design/hover-bg.png') -2px 6px no-repeat;
}
.left-pge ul li a:active{
    display: block;
    height: 26px;
    line-height: 30px;
    font: 18px 'arian_amuregular';
    color: #646464;
    text-decoration: none;
    padding: 4px 0 0 18px;
}
.top-line{
    position: relative;
    height: 300px;

}
.left-pge ul li a.current-left{
    display: block;
    height: 25px;
    line-height: 30px;
    font: 18px 'arian_amuregular';
    color: #646464;
    text-decoration: none;
    padding: 5px 0 0 18px;
    background: #d9d9d9 url('/images/design/hover-bg.png') -2px no-repeat;
}
.inside{
    margin: 17px 0 0 40px;
    position: relative;
    min-height: 670px;
}
.path a{
    font: 11px 'arian_amuregular';
    text-decoration: none;
    color:#0287ce;
}
.path{
    font: 11px 'arian_amuregular';
    text-decoration: none;
    color:#979797;
    margin: 0 0 5px 0;
}
.title, .title-map{
    color: #0287ce;
    font: 24px 'arian_amuregular';
    text-decoration: none;
    padding: 0 0 12px 0;
    display: block;
}
.title-map{
    margin: 30px 0 0 0;
}
.newsImg{
    width: 140px;
    height: 100%;
    float: left;
    cursor: pointer;
}
.text-news{
    width: 585px;
    float: right;
}
.newsDate{
    width: 100%;
    color:#979797;
    font: 11px 'arian_amuregular';
    padding: 0 0 5px 0;
}
.newsTitle{
   color: #0287ce;
    font: 24px 'arian_amuregular';
    text-decoration: none;
}
.newsShort{
    font: 15px 'arian_amuregular';
    color: #979797;
    line-height: 24px;
    text-align: justify;
}
.detail{
    font: 12px 'arian_amuregular';
    color: #0287ce;
    text-decoration: none;
    padding: 10px 0 15px 0;
    display: block;
}
.newsSpacer15{
    overflow: hidden;
    border-bottom: 1px dotted #cecece;
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
}
.pagesTable{
    font: 14px 'arian_amuregular';
    color:#6e6e6e;
}
.pagesTable a{
    color: #0287ce;
    font: 14px 'arian_amuregular';
    text-decoration: none;
    display: block;
    float: left;
    margin: 0 5px;
}
.LinkPagesSel {
    color: #ffffff;
    background: #0287ce;
    display: block;
    float: left;
    width: 15px;
    height: 17px;
    line-height: 17px;
    text-align: center;
}
.full-news-date{
    width: 100%;
    color: #979797;
    font: 11px 'arian_amuregular';
    padding: 0 0 5px 0;
}
.subBody-news{
    color:#6e6e6e;
    font: 15px 'arian_amuregular';
    text-align: justify;
}
.subBody-news p{
    margin: 0 0 20px 0;
}
.subBody-news img{
    text-align: center;
}
.top-text{
    font: 18px 'arian_amuregular';
    color: #979797;
    line-height: 24px;
    text-align: justify;
    padding: 0 0 10px 0;
}
.standart-photo{
    float: left;
    width: 202px;
    margin: 0 0 0 40px;
    position: relative;
    top:-40px;
}
.btm-text-standart{
    font: 12px 'arian_amuregular';
    text-align: justify;
    color: #6e6e6e;
    padding: 20px 0 0 0;
}
.videoNewTitle{
    color: #0287ce;
    font: 24px 'arian_amuregular';
    text-decoration: none;
    padding: 0 0 12px 0;
    display: block;
    cursor: pointer;
}
.videoNew .short{
    font: 18px 'arian_amuregular';
    color: #6e6e6e;
}
.videoNew{
    width: 360px;
    float: left;
    padding: 0 0 40px 0;
    margin: 0 10px 0 0;
}
.contact-text{
    line-height: 25px;
}
#form-order{
    width: 218px;
    height: 630px;
    position: absolute;
    right: 0;
    top: 18px;
    background: #f2f2f2;
    border-left: 2px solid #0287ce;
}
.ajax-load{
    display: none;
}
.inputFB input{
    width: 200px;
    height: 22px;
    border: 0;
    margin: 0 0 0 7px;
    font: 14px 'arian_amuregular';
}
.contact-inside{
    padding: 2px 0 12px 18px;
}
.inputFB .btnSbm1{
    position: absolute;
    bottom: 0;
    width: 220px;
    border: 0;
    height: 25px;
    background: #0287ce;
    text-transform: uppercase;
    color: white;
    font: 18px 'arian_amuregular';
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
    cursor: pointer;
    margin: 0;
}
.textarea{
    border: 0;
    width: 195px;
    height: 207px;
    margin: 0 0 0 7px;
    font: 14px 'arian_amuregular';
}
.floatContainer p{
    font: 14px 'arian_amuregular';
    color:#646464;
    margin: 0 0 0 7px;
    padding: 10px 0 0 0;
}
.error{
    font: 12px 'arian_amuregular';
    color:red;
    margin: 7px;

}
.ajax-load{
    display: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    zoom: 1;
    background: rgb(122, 122, 122);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#form-order .msg-ok{
    font: 14px 'arian_amuregular';
    color: #1aba78;
    margin: 5px;
}
.item{
    width: 233px;
    float: left;
    height: 292px;
    text-align: center;
    overflow: hidden;
    position: absolute;
    top:0;
    left:0;

}


.item ul a{
    height: 100%;
    display: inline;
    text-decoration: none;
    color: #838383;
    border: none;
    padding:0;
    font: 16px 'arian_amuregular';


}
.item ul{
    text-align: left;
    padding: 15px 0 15px 15px;
    width: 233px;
}

.item a{
    display: block;
    text-decoration: none;
    color:#000000;
    border-bottom: 2px solid #0287ce;
    height: 280px;
    padding: 10px 0 0 0;
}
.item a:link h3{
    font-weight: normal;
    font: 16px 'arian_amuregular';
    color: #0287ce;
    text-align: left;
    padding-left: 0px;
    line-height: 20px;
}
.item a:visited h3{
    font-weight: normal;
    font: 16px 'arian_amuregular';
    color: #0287ce;
    text-align: left;
    padding-left: 8px;
    line-height: 20px;
}
.item a:hover h3{
    font-weight: normal;
    font: 16px 'arian_amuregular';
    color: #0287ce;
    text-align: left;
    padding-left: 8px;
    line-height: 20px;
}
.item a:active h3{
    font-weight: normal;
    font: 16px 'arian_amuregular';
    color: #0287ce;
    text-align: left;
    padding-left: 8px;
    line-height: 20px;
}

.item img{
    height: 233px;
    width: 233px;;
}

.item:hover{
    z-index: 1000;
    background: #ffffff;
    overflow: visible;
    height: 100%;
    width: 250px;
    left: -7px;
    border: 2px solid #b1cfed;
    -webkit-box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 10px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 10px rgba(50, 50, 50, 0.75);
}
.item ul li{
    list-style-type: none;
}
.bg-item {
    position: relative;
    width: 233px;
    float: left;
    height: 285px;
    overflow: visible;
    margin-right: 13px;

}
.item ul.prop-menu{
    text-align: left;
    padding: 5px 0 5px 20px;
    width: 160px;
}
.item ul.prop-in-menu{
    text-align: left;
    padding: 0px;
    width: 233px;
}
.prop-in-menu li{
    padding: 0 0 10px 0;
}
.subBody-news a{
    color: #0287ce;
}
.full-prop-img{
    float: left;
    width: 597px;
}
.thumb{
    width: 141px;
    float: left;
    background: #f2f2f2;
    padding: 15px 0;
    height: 350px;
}
.full-prop-img, .thumb{
    border-bottom: 2px solid #0287ce;
    border-top: 2px solid #0287ce;

}
.full-prop-img{
    border-right: 2px solid #0287ce;
    height: 380px;
}
.thumb img{
    margin: 0 18px 5px 18px;
    cursor: pointer;
}
.short-desc{
    color:#646464;
    font: 15px 'arian_amuregular';
    padding-bottom: 15px;
}
.t{
    background: #ffffff;
}
.t2{
    background: #f2f2f2;
}
.prop-param .p-param{
    width: 737px;
    color:#646464;
    font:15px 'arian_amuregular';
    padding: 20px 0 20px 0;

}
.prop-param .p-param table{
    width: 100%;
    text-align: center;
}
.prop-param .p-param table td{
    height: 30px;
}
.first{
    padding: 0 0 0 20px;
}
.grey{
    text-align: center;
    background: #7f7f7f;
    font:18px 'arian_amuregular';
    color: #ffffff;
    height: 30px;
}
.msg-param{
    font: italic 14px 'arian_amuregular';
    color: #646464;
    padding: 0 0 20px 0;
}
.fullDesc{
    color: #646464;
    font: 18px 'arian_amuregular';
    padding: 0 0 20px 0;

}
.file-prop{
    padding: 0 0 10px 0;
}
.h-files{
    color: #646464;
    font: 16px 'arian_amuregular';
}
.file-prop a{
    color: #0066c5;
    font: 14px 'arian_amuregular';
}
.image-view{
    position: relative;
    overflow: hidden;
}
.image-view .prev-view{
    display: block;
    cursor: pointer;
    position: absolute;
    top:50%;
    left: 0;
    width: 50px;
    height: 50px;
    background: #d3d3d3;
}
.image-view .next-view{
    display: block;
    cursor: pointer;
    position: absolute;
    top:50%;
    right: 0;
    background: #d3d3d3;
    width: 50px;
    height: 50px;
}
.left-pge ul ul{
    padding: 0;
}
.left-pge ul ul li{
    padding: 0 0 5px 0;
}
.left-pge ul li ul li a:link {
    padding: 0 0 0 23px;
    height: 100%;
}
.left-pge ul li ul li a:hover {
    background: #d9d9d9 url('/images/design/hover-bg.png') -2px no-repeat;
    padding: 0 0 0 23px;
    height: 100%;
}
.left-pge ul li ul li .selected{
    background: #d9d9d9 url('/images/design/hover-bg.png') -2px no-repeat;
    padding: 0 0 0 23px;
    height: 100%;
    display: block;

    line-height: 30px;
    font: 18px 'arian_amuregular';
    color: #646464;
    text-decoration: none;
}
.left-pge ul li .selected{
    display: block;
    height: 26px;
    line-height: 30px;
    font: 18px 'arian_amuregular';
    color: #646464;
    text-decoration: none;
    padding: 4px 0 0 18px;
    background: #d9d9d9 url('/images/design/hover-bg.png') -2px 6px no-repeat;
}
.left-pge ul li ul.prop-menu a:link{
    padding: 0 0 0 40px;
    font: 16px 'arian_amuregular';
}
.height-m{
    height: 630px;
}
.left-pge ul ul li.prop-first a:link {
    padding: 0 0 0 23px;
    font: 18px 'arian_amuregular';
}
.left-pge .main-prop .prop-menu a:link, .left-pge .main-prop .prop-menu a:hover, .left-pge .main-prop .prop-menu a:visited{
    line-height: 30px;
    color: #0287ce;
    text-decoration: none;
    padding: 0px 0 0 18px;
    background: none;
    font: 24px 'arian_amuregular';
}
.height-m ul li a.top-cat{
    line-height: 30px;
    color: #0287ce;
    text-decoration: none;
    padding: 0px 0 7px 18px;
    background: none;
    font: 24px 'arian_amuregular';
}
.clear{
    clear: both;
}
.pages-full-content img{
    cursor: pointer;
}
.one-img{
    width: 735px;
    border-right: none;
}
.star{
    font: italic 12px 'arian_amuregular';
    color:#646464;
    display: block;
    padding: 5px 0;

}
#feedback{
    margin-top: -10px;
}
header ul li{
    padding: 0;
}




.horizontalMenu{
    display: block;
    width: 800px;
    float:right;
    height: 200px;
}
.horizontalMenu li{
    display: block;
    float:left;
    margin-top: 180px;
}
.horizontalMenu li a{
    padding: 10px 20px;
}
.cabinet-back{
    width: 100px;
    height: 40px;
    float: right;
    position: relative;
    top: 117px;
    background: #f2f2f2;
    border: 1px solid #eaeaea;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
}
.cabinet-back span{
    display: block;
    position: relative;
    top: -28px;
    left: 48px;
    color: #333333;
}
.popup{
    display: none;
}

.cabinet-back:hover+.popup{
    display: block;
}
.cabinet-back:hover:after{
    content: "";
    display: inline-block;
    background: url("/images/design/popup.png")no-repeat;
    width: 130px;
    height: 100px;
    /* margin: -200px 0 0px -50px; */
    position: relative;
    top: -120px;
    left: -50px;
}
.cabinet-back-1{
    width: 100px;
    height: 40px;
    float: right;
    position: relative;
    top: 117px;
    background: #f2f2f2;
    border: 1px solid #eaeaea;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
}
.cabinet-back-1 span{
    display: block;
    position: relative;
    top: -30px;
    left: 48px;
    color: #333333;
}
.cabinet-back-1:hover:after{
    content: "";
    display: inline-block;
    background: url("/images/design/close.png")no-repeat;
    width: 130px;
    height: 100px;
    /* margin: -200px 0 0px -50px; */
    position: relative;
    top: -120px;
    left: -50px;
}
.modal-h1{
    /*margin: 20px 30px;*/
    /*font-size: 20px;*/
    /*color: #6287ce;*/
    font-family: "ArianAMURegular";
    font-weight: normal;
    margin: 20px 30px;
    font-size: 24px;
    color: #0287ce;
}
.modal-button{
    margin: 10px 30px;
    width: 209px;
    height: 30px;
    border: none;
    font-size: 18px;
    font-family: "ArianAMUBold";
    background: #0287ce;
    color: #fff;
}
.modal-button:hover{
    cursor: pointer;
}
input[type="text"] {
    margin: 0 30px 10px 30px;
    width: 200px;
    height: 25px;
    padding: 0 0 0 5px;
}
.modal-label{
    margin: 0 30px;
    font-size: 14px;
    font-family: "ArianAMURegular";
    font-weight: normal;
}
.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
    background-image: url('/images/design/close.jpg') center top no-repeat;
}
.profile-wr{
    margin: 48px 0 0 0px;
    min-height: 400px;
    position: relative;
}
.prof-menu{
    list-style: none;
    margin: 23px 0 0 0;
}
.prof-menu li{
    /*display: inline-block;*/
    float:left;
}
.prof-menu li a{
    padding: 5px 47px;
    text-decoration: none;
    background: #7f7f7f;
    color: #fff;
    font-size: 18px;
}
.prof-menu li a:hover{
    background: #3f3f3f;
}
.prof-menu li .current-prof{
    background: #3f3f3f;
}
.profile-info{
    width: 740px;
    margin: 44px 0 0 0;
    color: #5b5859;
    font-size: 18px;
    line-height: 23px;
}
.profile-info td{
    padding: 0 0 0 38px;
}

.tr-white{
    background: #fff;
    height: 35px;
}
.tr-white1{
    font-size: 13px;
    background: #fff;
    height: 20px;
}
.tr-grey{
    background: #f2f2f2;
    height: 35px;
}
.edit-profile{
    padding: 3px 0;
    text-align: center;
    width: 220px;
    text-decoration: none;
    color: #fff;
    background: #0287ce;
    margin: 23px 0;
    display: block;
    font-size: 18px;
    text-shadow: 2px 0px 0px #0272ae;
}
.CatFormUl{
    /*margin: 47px 0 0 41px;*/
    list-style: none;
    font-size: 18px;
    color: #5b5859;
}
.CatFormUl li{
    margin: 12px 0 0 0;
    font-size: 15px;
}
.CatFormUl input[type="text"]{
    margin: 0 0 0 0;
    box-shadow: inset 2px 2px 8px -2px rgba(211, 211, 211, 1);
    border: none;
    color: #5b5859;
    font-size: 16px;
}
.edit-profile-button0{
    padding: 3px 0;
    text-align: center;
    width: 220px;
    text-decoration: none;
    color: #fff;
    background: #0287ce;
    margin: 23px 20px 23px 0;
    display: block;
    font-size: 18px;
    text-shadow: 2px 0px 0px #0272ae;
    float: left;
    border: none;
}
.edit-profile-button0:hover{
    background: #539fc8;
}
.edit-profile-button1{
    padding: 3px 0;
    text-align: center;
    width: 220px;
    text-decoration: none;
    color: #fff;
    background: #7f7f7f;
    margin: 23px 20px 23px 0;
    display: block;
    font-size: 18px;
    float: left;
}
.edit-profile-button1:hover{
    background: #3f3f3f;
}
.red{
    color: red;
}
.prof-mess{
    width: 404px;
    height: 95px;
    resize: none;
    border: none;
    margin: 0px 0 0 24px;
    box-shadow: inset 2px 2px 8px -2px rgba(211, 211, 211, 1);
}
.mes-bg{
    width: 460px;
    height: 140px;
    background: #f2f2f2;
}
.some-text{
    font-style:italic;margin: 57px 0 0 39px;color: #ccc;
}
.edit-profile-button2{
    padding: 3px 0;
    text-align: center;
    width: 220px;
    text-decoration: none;
    color: #fff;
    background: #0287ce;
    margin: 11px 20px 23px 0;
    display: block;
    font-size: 18px;
    text-shadow: 2px 0px 0px #0272ae;
    float: left;
    border: none;
}
.edit-profile-button2:hover{
    cursor: pointer;
}
.profile-wr .title{
    width: 500px; float: left;
}
.id{
    width: 124px;
    font-size: 18px;
    float: right;
    margin-top: 6px;
    position: absolute;right: 0;
    font-size: 18px;
    color: #5b5859;
}
.id .spanid{
    color: #5b5859;
    font-size: 24px;
}
.id-stantion{
    margin: 10px 0;font-size: 18px; color: #3f3f3f;
}
.data{
    width: 100%;
    border-collapse: collapse;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -khtml-border-radius: 20px;
    /*border: 1px solid #000;*/
    display: block;
    overflow: hidden;
    margin: 30px 0 0 0;
}
.data tr{
    width: 100%;
}
.data .gray td{
    text-align: center;
}
.data .gray-1 td{
    text-align: center;
}
.gray{
    background:#949494;
}
.gray td{
    padding: 10px 25px;
    font-size: 16px;
    color: #fff;
    vertical-align: baseline;
}
.gray-1{background:#f2f2f2;}
.gray-1 td{
    padding: 10px 25px;
    font-size: 16px;
    color: #000;
    vertical-align: baseline;
}
.id-stantion{float: left;}
.map-button a{display: block; float: right;background: #2f9cd7; color: #fff;
    margin: 10px 0px;
    padding: 5px 10px;
    font-size: 14px;
    text-decoration: none;
}
.one{
    width: 271px; float: left; margin: 0 30px 0px 30px;
}
.tracker{
    display: block;border-radius: 20px;background: #f2f2f2;border: 1px solid #eaeaea;
}
.tracker table td{
    color: #3f3f3f;
    font-size: 14px;
}
.trecker-head{
    /*display: block;*/
    height: 50px;
    border-radius: 20px;
    background: #949494;
}
.tracker-img{
    margin: 0px 15px;vertical-align: middle;
}
.tracker-span{
    font-size: 18px;color: #fff;
}

.tracker td{text-align:center;}
.tracker .track-id{
    padding: 5px;
    font-size: 14px;
    color: #3f3f3f;
    border-bottom: 1px solid #dfdfdf;
    text-align: left;
}
.tracker .trecker-head{text-align: left;}
.tracker table{min-height: 250px;}
.line-wr{
    width: 100%; height: 80px;position: relative;
}
.line{width: 1px; height: 80px;background: #dfdfdf;margin: 0 auto;}
.warning-img{
    position: absolute;
    top: 30px;
    left: 121px;
}
.profile-wr #map-canvas, .map{height: 450px;}
.map-header{background: #949494; border-radius: 20px 20px 0 0;height: 45px;color: #fff;font-size: 15px;}
.map-id{
    font-size: 17px;
}
.map-values{
    color: #3f3f3f;
}
#map-canvas{margin-bottom: 60px;}
.map-img-hover{width: 100px;}
.id-st{
     color: #fff;
    text-align: center;
    display: block;

}
.fancybox-skin{
    background: #ffffff!important;
}
.fancybox-inner{
    background: #f2f2f2!important;
}



.profile-wr .title{
    font-size: 24px;
    font-family: "ArianAMURegular";
    font-weight: normal;
}
.prof-menu li a{
    font-size: 18px;
    font-family: "ArianAMURegular";
    font-weight: normal;
}
.profile-info{
    font-size: 18px;
    font-family: "ArianAMURegular";
    font-weight: normal;
}
.edit-profile{
    font-size: 18px;
    font-family: "ArianAMUBold";
    text-transform: uppercase;
}
.profile-info td{
    font-size: 15px;
    font-family: "ArianAMURegular";
    font-weight: normal;
}
.edit-profile-button0, .edit-profile-button1{
    font-size: 18px;
    font-family: "ArianAMUBold";
    text-transform: uppercase;
}
.some-text{
    font-family: "ArianAMUItalic";
    font-size: 14px;
}
.id{
    font-family: "ArianAMURegular";
    font-weight: normal;
}
.map-button a{
    font-size: 18px;
    font-family: "ArianAMURegular";
    padding: 5px 24px;
}
.id-stantion{
    font-family: "ArianAMURegular";
}
.open-button a{
 position: absolute;right:0;z-index:10;
    background: #2f9cd7;
    color: #fff;
    margin: 10px 0px;
    padding: 5px 10px;
    font-size: 14px;
    text-decoration: none;
    font-size: 18px;
    font-family: "ArianAMURegular";
    padding: 5px 24px;
}
.map-header img{margin-left: 40px;}
.warn{
    margin-left: 40px;
    position: relative;
    top: 8px;
}
.gm-style-iw{left:25px!important;top: 100px!important;}
body{
    /*background: url('/images/index.jpg') center top no-repeat;*/
    /*opacity: 0.8;*/
}